* {
  margin: 0;
  padding: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

#header h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
}

button {
  padding: 5px;
  font-size: 1em;
}

#buttons {
  margin-top: 10px;
}